
* {
    box-sizing: border-box;
  }
  
*,
*::before,
*::after {
  box-sizing: border-box;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    margin: 0;               
    text-align: center; 
}

#header img{
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.caixa-habilidades{

    background-color: #cf9393;
    border: 5px ;
    padding: 20px;
    margin: 30px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
}

.secao-onibus{
    background-color: #daa0a0;
    
}
.secao-onibus td {
    background-color: #e9c5d6;
}

.secao-onibus td:hover{
    border: 2px solid #070202;
    cursor: pointer;
}

#diciplinas{
    display: flex;
    flex-direction: column;
}

#diciplinas dt{
    text-align: center;
}

#diciplinas dd{
    text-align: center;
    color: #fa4ceb;
    
}

#diciplinas a{
    color: #eb62eb;
    text-decoration: none;
}
#diciplinas a:hover{
    opacity: 0.5;
}

#biblioteca{
    display: flex;
    flex-direction: column;
}

#biblioteca a{
    text-align: center;
    text-decoration: none;
}

#biblioteca a:hover{
    opacity: 0.5;
}

.destaque{
    font-weight: bold;
}

.colunas{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    height: 400px;
}

.filmes, .galeria, .sites{
    flex: 1; 
    width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px; 
}

.imagens {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.imagens img {
    text-align: center;
    width: 90%;
    height: auto;
    border-radius: 8px;
}

.colunas:focus {
    background-color: #e0e0e0; 
}


.filmes:active, .galeria:active, .sites:active {
    background-color: #ddd; 
}

.galeria img:hover{
    outline: 2px solid #c724c7;
}

.sites a:link {
    color: #ea80ff; 
    text-decoration: none;
}

.sites a:visited{
    color: #c332e0; 
    text-decoration: none;
}

.sites a:hover {
    color: #9e77be; 
    text-decoration: none;
}

.galeria{
    height: 360px;
    overflow-y: auto;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ecd5d5;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3 {
    color: #3d015f;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin: 20px;
    color: #444;
}


ul, ol {
    margin-left: 30px;
    font-size: 16px;
    color: #302e2e;
}


table {
    width: 100%;
    margin: 20px 0;
}

th, td {
    border: 1px solid hsl(0, 5%, 61%);
    padding: 10px;
    text-align: center;
}

thead {
    background-color: hsla(0, 32%, 69%, 0.473);
    font-weight: bold;
}

#loja{
    display: flex;
    flex-direction: column;
}

#loja a{
    text-align: center;
    text-decoration: none;
}

#loja a:hover{
    opacity: 0.5;
}


